# Exemple de configuration du backend Poulailler IoT

# --- Configuration du serveur ---
PORT=5000

# --- Connexion MongoDB Atlas ---
MONGO_URI=mongodb+srv://<UTILISATEUR>:<MOT_DE_PASSE>@<CLUSTER>.mongodb.net/?appName=<NOM_APP>

# --- Connexion MQTT (EMQX Cloud) ---
MQTT_HOST=<ADRESSE_MQTT>
MQTT_PORT=8883
MQTT_USERNAME=<UTILISATEUR_MQTT>
MQTT_PASSWORD=<MOT_DE_PASSE_MQTT>
MQTT_TOPIC=poulailler/data

# --- Sécurité MQTT SSL ---
MQTT_SSL=true
